# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
        #name = willitcode
        #email = willitcode@example.com
[advice]
	addIgnoredFile = false
[init]
	defaultBranch = main
[core]
	editor = nvim
